body {
  background-color: black;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: white;
  margin: 0;
}

@font-face {
  font-family: "Maison Neue Mono";
  src: url("/fonts/Maison Neue Mono.otf") format("otf");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("font/Helvetica Neue.otf") format("otf");
}

/* STYLEGUIDE STYLING */
.styleguide-container {
  margin: 0 auto;
  width: 80%;
}

.default-styleguide {
  font-family: "Arial", sans-serif;
}

/* COLOR PALETTE */
.colors {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: "Helvetica Neue", "Maison Neue Mono", monospace;
}

/* black */
.color1 {
  width: 33%;
  height: 5em;
  background-color: black;
  border: 1px solid white;
}

/* white */
.color2 {
  width: 33%;
  height: 5em;
  background-color: white;
  border: 1px solid white;
  color: black;
  font-family: Maison Neue Mono, monospace;
  font-size: 10pt;
  line-height: 1.5em;
  padding-bottom: 1em;
}

/* gold */
.color3 {
  width: 33%;
  height: 5em;
  background-color: #ffc83e;
  border: 1px solid white;
}

/* END OF STYLEGUIDE STYLING */
/* TYPE ELEMENT STYLING */
/* titles: large serif text */
.big-type {
  font-size: 6em;
  color: white;
  font-family: 'Playfair Display', serif;
  margin: 0;
}

/* sub-headings: yellow serif type */
.med-type {
  /* font-family: "Maison Neue Mono", monospace; */
  font-size: 2em;
  color: #ffc83e;
}

/* body: white mono type */
.body-text {
  color: white;
  font-family: Maison Neue Mono, monospace;
  font-size: 10pt;
  line-height: 1.5em;
}

/* lists: white mono type */
.ordered-list {
  color: white;
  font-family: Maison Neue Mono, monospace;
  font-size: 8pt;
  line-height: 1.5em;
}

/* changes color of intro text */
.yellow-text {
  color: #fff;
  opacity: 0.7;
}

/* NAVIGATION */
/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Maison Neue Mono", monospace;
  transition: color 1s linear, text-decoration-color 1s linear;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  /* color: black; */
  text-decoration: underline;
  text-decoration-color: #ffc83e;
  color: #ffc83e;
}

/* Add a color to the active/current link */
.topnav a.active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  /* border-bottom: 2px solid white; */
}

/* in-text links */
.in-text-link {
  text-decoration: none;
  /* color: #ffc83e; */
  color: white;
  border-bottom: 1px solid white;
  background-color: black;
  transition: background-color 1s linear, color 1s linear, border-bottom 1s linear;
  margin-top: 0.25em;
  padding-top: 0.25em;
}

.in-text-link:hover {
  color: black;
  background-color: #ffc83e;
  margin-top: 0.25em;
  padding-top: 0.25em;
  border-color: black;
}

/* navigation buttons */
.nav-button {
  padding: 1em;
  font-family: "Maison Neue Mono", monospace;
  color: black;
  background-color: white;
  /* border-color: #ffc83e; */
  /* border-width: 5px; */
  /* border-style: solid; */
  border: none;
  transition: background-color 1s ease;
}

.nav-button:hover {
  /* border-color: white; */
  background-color: #ffc83e;
}

.image {
  /* border: 4px solid white; */
}

.horizonal {
  transform: rotate(-90deg);
}

.page-container {
  width: 80%;
  margin: 0 auto;
}

.project-intro {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 4em;
}

.process-step {
  width: 70%;
  margin: 0 auto;
}

.img-center {
  text-align: center;
}

.proj-img {
  max-width: 100%;
  image-orientation: from-image;
}

.logo-left {
  text-align: left;
}

.logo {
  max-height: 250px;
}

.accordion {
  background-color: #000;
  color: #ffc83e;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid white;
  outline: none;
  transition: 0.4s;
  /* font-family: 'Playfair Display', serif; */
  font-family: "Maison Neue Mono", monospace;
  /* font-size: 18pt; */
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  padding-bottom: 0;
  color: #ffc83e;
  font-weight: bold;
}

.accordion.active:after {
  content: "\2212";
  color: white;
}

.accordion-expand {
  display: inline-block;
  float: right;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.process-step .active, .accordion:hover {
  background-color: #ffc83e;
  color: white;
  transition: color 0.2s linear, background-color 0.2s linear;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 1em 1em;
  background-color: black;
  display: none;
  overflow: hidden;
}

/* form */
label {
  display: table-cell;
  padding-right: 10px;
  margin-bottom: 10px;
  font-family: "Maison Neue Mono", monospace;
}

input {
  margin-bottom: 10px;
  font-family: "Maison Neue Mono", monospace;
  padding: 0.75em;
  margin-top: 0.5em;
  margin-bottom: 0.75em;
  border: none;
}

textarea {
  margin-bottom: 10px;
  font-family: "Maison Neue Mono", monospace;
  padding: 0.75em;
  margin-top: 0.25em;
  border: none;
}

input:hover, input:focus {
  background-color: #ffc83e;
}

textarea:hover, textarea:focus {
  background-color: #ffc83e;
}

.submit-button {
  padding: 1em;
  font-family: "Maison Neue Mono", monospace;
  color: black;
  background-color: white;
  border: none;
  transition: background-color 1s ease;
}

.submit-button:hover, .submit-button:focus {
  background-color: #ffc83e;
}

/* navbar stuff */
.navbar {
  font-family: "Maison Neue Mono", monospace;
  font-size: 16px;
  background-color: black;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  padding-bottom: 10px;
  padding: 0.5em;
}

.navbar a.active {
  color: #ffc83e !important;
}

#main-nav {
  list-style-type: none;
  display: none;
  flex-direction: column;
}

#main-nav li {
  text-align: center;
  margin: 15px auto;
}

.nav-links,
#logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.2s linear;
}

#logo:hover,
.nav-links:hover {
  color: #ffc83e;
}

/* homepage */
#logo {
  display: inline-block;
  text-align: center;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  color: white;
}

/* hamburger placement */
#navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  transition: color 0.2s linear;
  padding: 0.25em;
}

#navbar-toggle:hover {
  color: #ffc83e;
}

/*@media (max-width: 768px) {
  #logo {
    text-align: center;
  }

  #main-nav {
    display: hidden;
  }
} */
@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #main-nav {
    display: flex !important;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  #main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  #logo {
    margin-top: 0;
  }

  #navbar-toggle {
    display: none;
  }
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.work {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 4em;
  display: flex;
  /* flex-direction: column; */
}

.work-card {
  margin: 1em;
  border: 1px solid white;
  width: 300px;
  padding: 1em;
  text-align: center;
}

.work-card img {
  width: 300px;
}

.thumbnail img {
  width: 300px;
}