.project-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.work-left {
  padding-right: 1em;
}

.work-left img {
  max-width: 70%;
  /* max-height: 100vh; */
}

.work-right img {
  width: 70%;
  /* max-height: 100vh; */
}

.accordion-container {
  /* width: 100%; */
  /* margin: 0 auto; */
}

.reflection-container {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .work-right img {
    width: 75%;
  }
}