.project-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.work-left {
  padding-right: 1em;
}

.work-right img {
  max-height: 80vh;
}

@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
  }
}