.project-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.work-left {
  padding-right: 1em;
}

.work-left img {
  max-width: 70%;
  /* max-height: 100vh; */
}

.work-right img {
  width: 70%;
  /* max-height: 100vh; */
}

.accordion-container {
  /* width: 100%; */
  /* margin: 0 auto; */
}

.reflection-container {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-device-width: 768px) {
  .project-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .work-right img {
    width: 75%;
  }

  .panel img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .work-right img {
    width: 75%;
  }
}

.next-page {
  width: 75%;
  padding: 1em;
  /* height: 3em; */
  background: #00549c;
  margin: 1em auto;
  /* border: 2px solid #eea47f; */
  color: #eea47f;
  text-align: center;
  box-shadow: 5px 5px #eea47f;
}

.next-page a {
  text-decoration: none;
  color: #eea47f;
  text-align: center;
  font-family: "Athiti", san-serif;
  font-weight: bold;
}
