body {
  background-color: black;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

@font-face {
  font-family: "Maison Neue Mono";
  src: url("/fonts/Maison Neue Mono.otf") format("otf");
}

.main-container {
  position: relative;
}

.home-container {
  position: relative;
  z-index: 0;
  background-color: black;
  width: 80%;
  /* height: 100vh; */
  display: flex;
  margin: 0 auto;
  /* margin-left: 5em; */
  /* margin-right: 5em; */
}

.overlay-text {
  z-index: -1;
  opacity: 0.3;
  position: sticky;
}

.overlay-text h1 {
  font-size: 10em;
  color: white;
}

/* .side-label {
  width: 10%;
  transform: rotate(-90deg);
  color: white;
  font-size: 5em;
  position: relative;
  top: 1em;
  font-weight: bold;
}

.side-label p {
  margin: 0;
} */
.big-type {
  font-size: 6em;
  color: white;
  font-family: 'Playfair Display', serif;
}

.med-type {
  /* font-family: "Maison Neue Mono", monospace; */
  font-size: 2em;
  color: #ffc83e;
}

.underline {
  border-bottom: 3px solid #ffc83e;
}

.landing-page {
  color: white;
  font-family: 'Playfair Display', serif;
}

.landing-page h1 {
  font-weight: bold;
}

.intro-body {
  max-width: 70%;
  min-width: 60%;
}

.body-text {
  color: white;
  font-family: Maison Neue Mono, monospace;
  font-size: 10pt;
  line-height: 1.5em;
}

.yellow-text {
  /* color: #ffc83e; */
}

.ordered-list {
  color: white;
  font-family: Maison Neue Mono, monospace;
  font-size: 8pt;
  line-height: 1.5em;
}

.project-content {
  float: right;
  width: 50%;
}

.product-content p {
  color: white;
  font-family: Maison Neue Mono, monospace;
  font-size: 10pt;
  line-height: 1.5em;
}

/* navbar stuff */
/* .navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

#main-nav {
  list-style-type: none;
  display: none;
  flex-direction: column;
}

#main-nav li {
  text-align: center;
  margin: 15px auto;
}

.nav-links,
#logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

#logo:hover,
.nav-links:hover {
  color: rgba(255, 255, 255, 1);
}

#logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

#navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#navbar-toggle:hover {
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #main-nav {
    display: flex !important;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  #main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  #logo {
    margin-top: 0;
  }

  #navbar-toggle {
    display: none;
  }
} */